[color]
	diff = auto
	status = auto
	branch = auto
[branch]
	autosetuprebase = always
[alias]
	s = status -s
[push]
	default = tracking
[user]
	email = hugosenari@gmail.com
	name = hugosenari
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
