[color]
	diff = auto
	status = auto
	branch = auto
[branch]
	autosetuprebase = always
[alias]
	b = branch
	bl = branch --all
	bdel = "!f() { git branch -D $1; git push origin :$1; }; f"
	bs = branch --no-merged
	bname = rev-parse --abbrev-ref HEAD
	bdesc = "!f() { BNAME=`git bname`; if [ $# -gt "0" ]; then BNAME=$1; fi; if [ $# -lt "2" ]; then git config branches.$BNAME.description; else git config branches.$BNAME.description \"$2\"; fi; }; f"
	bissue = "!f() { git cd -b $1; git config branches.$1.description \"$2\"; git push -u origin $1; }; f"
	cd = checkout
	cdb = checkout -b
	master = checkout master
	head = checkout head
	c = commit -m	
	cbissue = "!f() { MSG=$1; shift; git c \"issue: `git bname` - `git bdesc`; commit: $MSG\" $*; }; f"
	d = diff --word-diff
	g = pull
	get = pull
	m = merge
	mc = merge --continue
	md = merge dev
	mm = merge master
	mt = mergetool
	p = push
	post = push
	r = rebase master
	rc = rebase --continue
	s = status -s
	undo = reset --hard
	ls = ls-tree --name-only
	lsm = ls-tree --name-only master
[push]
	default = tracking
[user]
	email = hugosenari@gmail.com
	name = hugosenari
[core]
	excludesfile = ~/.gitignore_global
